<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slice - Get Started</title>
    <link rel="stylesheet" type="text/css" href="/style/global.css" />
    <link rel="stylesheet" type="text/css" href="/style/gs.css" />
    <link rel="stylesheet" href="style/navbar.css" />
    <script src="navbar.js"></script>
</head>
<body>
    <div class="MarqueeGlobalDiv">        
        <center><marquee class="MarqueeGlobal" direction="left" >
            <div class="marquee-content">|</div>
            <div class="marquee-content">Slice Css Framework 1.0 is out! View the <a href="#features">features</a> and <a href="#release">release</a> </div>
            <div class="marquee-content">|</div>
            <div class="marquee-content">Check out the list of <a href="#components">components</a> we offer! </div></a>
            <div class="marquee-content">|</div>
            <div class="marquee-content">Support us on <a href="patreon">patreon</a> 🐱‍👤 </div></a>
            <div class="marquee-content">|</div>
        </marquee></center>
    </div>
    <center>    

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/">Introduction</a>
        <a href="get-started">Get Started</a>
        <a href="feedback">Feedback</a>        
        </div>
        
        <div id="main">
            <button class="openbtn" onclick="openNav()">☰</button>          
        </div>  
    </div>
    
    <div class="main-content">
        <div>
            <br><center><h1 id="TitleNavBar">Get Started</h1></center><hr class="HalfHR"><br>            
        </div>        
        <br><p>🟠 Add this simple cdn link in your script file to get started!</p><br>        
        <p>🟠 Inlude only the components you need and select link accordingly!</p><br><br>        
        <div>
            <button class="comp-buttons">Normal Link</button>
            <button class="comp-buttons">Only Buttons</button>
            <button class="comp-buttons">Only Navbars</button>
            <button class="comp-buttons">Only Marquee</button>            
            <button class="comp-buttons">Only Text</button>            
            <button class="comp-buttons">Only Images</button>                    
            <button class="comp-buttons">Minified CSS</button>        
            <br><br><br>
        </div>        

        <input class="CDNLink-group" id="CdnLinkInput" readonly/>
        <button class="CDNLink-group" id="CDNLink-Copy" title="copy cdn link">copy</button>
        <br><br>
    </div>
    </center>
</body>
</html>